.img img{
    float: right;
    position: relative;
    width: 92%;
}
.img figcaption1{
    position: absolute;
    bottom: -95px;
    left: -250px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color:#fdfdfd;
    font-family: 'Domine', serif;
    font-weight: bold;
    word-wrap: break-word;
}
.img figcaption2{
    position: absolute;
    bottom: -420px;
    left: 420px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color:#605f5f;
    font-family: 'Domine', serif;
    
}